<h1>Seja Bem-Vindo ao Curso de Angular!</h1>

<h4 class="text-danger">{{ anuncio }}</h4>

<div class="card" style="width: 18rem;">
  <div class="row">
    <div class="col">

      <img [src]="foto" class="card-img-top" alt="...">

      <div class="card-body">
        <h5 class="card-title">
          {{nomeProduto | uppercase}}
          <span *ngIf="promocao;else elseBlock" class="badge badge-success">Promoção</span>
          <ng-template #elseBlock>
            <span class="badge badge-primary">Aproveite</span>
          </ng-template>
        </h5>
        <p class="card-text"><b>Identificação:</b> {{idProduto | number:'2.0-0'}} <br>
          <b>Validade:</b> {{dataValidade | date:'shortDate'}}
        </p>
        <a href="#" class="btn btn-primary float float-right">{{precoProduto | currency:'BRL'}}</a>
      </div>
    </div>

  </div>
</div>

<div class="bodyClass">
<div class="row ">
  <div class="col-md-12">

    <div class="card shadow" style="width: 550px">
      <table class="table table-reponsive table striped table-rover">
        <thead class=" bg-info text-light ">
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Validade</th>
            <th>Valor</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of listaProdutos">
          <tr *ngFor="let prod of listaProdutos">
            <td>{{prod.id}}</td>
            <td>{{prod.nome}}</td>
            <td>{{prod.validade | date: "shortDate"}}</td>
            <td>{{prod.precoProduto | currency: "BRL"}}</td>
            <td>
              <button class="btn btn-warning">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button class="btn btn-danger ml-2">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>